body{
background:#ECEBE4;
color:#111;
}

/* HEADER */

.header{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px;
background:white;
}

.logo{
font-size:24px;
font-weight:bold;
}

.nav-links{
display:flex;
gap:20px;
}

.nav-links a{
font-weight:500;
}

/* HERO */

.hero{
display:grid;
grid-template-columns:1fr 1fr;
align-items:center;
padding:60px 40px;
background:#cfdede;
}

.hero h1{
font-size:80px;
font-weight:900;
}

.hero-image{
text-align:center;
}

.hero-image img{
width:180px;
border-radius:50%;
margin:auto;
}

/* CARDS */

.card{
padding:40px;
border:2px solid #111;
}

.dark{
background:#000;
color:white;
}

/* SKILLS */

.skills ul{
margin-top:20px;
display:grid;
gap:10px;
}

/* PROJECTS */

.projects{
display:grid;
grid-template-columns:1fr 1fr;
gap:20px;
padding:40px;
}

.project-images{
display:flex;
gap:10px;
margin-top:20px;
}

/* CONTACT */

.contact{
text-align:center;
padding:80px 20px;
}

/* BOTON FLOTANTE */

.contact-float{
position:fixed;
bottom:25px;
right:25px;
background:#E75A7C;
color:white;
padding:15px 18px;
border-radius:50%;
font-size:20px;
}

/* HAMBURGER */

.hamburger{
display:none;
flex-direction:column;
gap:5px;
cursor:pointer;
}

.hamburger span{
width:25px;
height:3px;
background:black;
}

/* RESPONSIVE */

@media (max-width:768px){

.hero{
grid-template-columns:1fr;
text-align:center;
}

.hero h1{
font-size:50px;
}

.projects{
grid-template-columns:1fr;
}

.nav-links{
position:absolute;
top:70px;
right:0;
background:white;
flex-direction:column;
width:200px;
padding:20px;
display:none;
}

.nav-links.active{
display:flex;
}

.hamburger{
display:flex;
}

}